<!--
<div class="card" style="width: 18rem;">
  <img src="{{productProp.productImgURl}}" class="card-img-top" alt="...">
  <img [src]="productProp.productImgURl" class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title"> {{productProp.productName}} </h5>
    <p class="card-text">
      {{productProp.productDetails}}
</p>    <a href="#" class="">price: {{productProp.productPrice}}</a>
  </div>
</div> -->
<div class="container">
  <!-- event binding (eventname)="method()" -->
  <!-- <p>{{ data | date: 'medium' }}</p> -->
  <div class="mt-2">
    <!-- <input class="form-control" [value]="username" > -->
    <!-- two  binding  [(ngModel)]="prop"-->
    <!-- <input class="form-control"  [(ngModel)]="username" > -->
    <!-- <input class="form-control" [(ngModel)]="filterProduct" />
    <p>{{ username }}</p> -->
  </div>

  <button class="btn btn-dark mt-4" (click)="toggleMethod()">
    {{ toggleProp ? 'hide' : 'show' }} images
  </button>
  <div class="row">
 @for(prd of filteredProducts(); track prd.id)
{
<div class="col">
  <div class="card h-100">

    <img
      [src]="prd.productImgUrl"
      class="card-img-top"
      alt="{{ prd.productName }}"
      appImgSyle
    />

    <div class="card-body">
      <h5 class="card-title">
        {{ prd.productName }}
      </h5>

      <p>
        Price:
        {{ prd.productPrice }}
      </p>

      <p>
        Quantity:
        {{ prd.productQuantity }}
      </p>

      <button
        class="btn btn-primary"
        (click)="addToCart(prd)"
      >
        Add To Cart
      </button>

      <button
        class="btn btn-outline-secondary ms-2"
        [routerLink]="['/products', prd.id]"
      >
        Details
      </button>
    </div>

  </div>
</div>
}
  </div>
</div>
